@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FAFBFF;
    --foreground: #1A1A1A;
    --primary: #2D3648;
    --card-background: var(--background);
    --card-foreground: var(--foreground);
    --popover-background: var(--background);
    --popover-foreground: var(--foreground);
    --primary-foreground: #FFFFFF;
    --muted-foreground: #1A1A1A99;
    --accent-foreground: var(--primary);
  }

  body {
    @apply bg-background text-foreground antialiased transition-colors duration-200;
    font-family: 'Inter', sans-serif;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
}